/*hier plaats hele globale styling regels, zoals de css reset en de standaard 0-margin op de body, ook wel alles wat voor de gehele applicatie geldt alle algemene css*/
/*Css reset*/
* {
  margin: 0;
  box-sizing: border-box;
}

/*

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
